gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# Keystore tracked for unified signature across CI/CD and local builds
# key.properties
# **/*.keystore
# **/*.jks
